<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Username" value="username_here"/>    
    <add key="Password" value="password_here"/>
    <add key="SecurityToken" value="security_token_here"/>
    
    <!-- For sandboxes, change to https://test.salesforce.com ... -->
    <add key="LoginUrl" value="https://login.salesforce.com/services/Soap/c/31.0/"/>
    <add key="ExternalFieldName" value="external_id_here_for_upsert_test"/>

  </appSettings>
</configuration>